@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
* {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}
body{
    font-family: 'open Sans', sans-serif;
    font-weight: 400;
}
#hamnav {
   width: 100%;
   background:linear-gradient(20deg,rgb(24, 1, 47),rebeccapurple);
   position: sticky;
   top: 0;
   height: 6vh;
   padding-right: 20px;
}
#hamnav label, #hamburger {display: none; }
#hamitems{ 
    display: flex;
    justify-content: flex-end;
}
#hamitems a {
    width: fit-content;
    padding: 6px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    margin: .5rem;
}
#hamitems a:hover {
 background: #f6f9fc ;
 color:  black;
}
@media screen and (max-width:768px) {
    #hamnav label{
     display: flex;
     justify-content: flex-end;
     color: #fff;
     background: transparent;
     font-size: 1.5rem;
     font-weight: bold;
     padding: 5px 20px 5px 10px;
    } 
    #hamitems a {
     box-sizing: border-box;
     display: block;
     width: 100%;
       }
    #hamitems a:hover {
     text-decoration: underline;
     background-color: transparent;
     color: #7fff00;
       }
   #hamitems{
    display: none;
     }
    #hamnav input:checked ~ #hamitems { display:block;}
    }


main{
    background-color: rgb(253, 251, 251);
    padding-top: 20px;
    text-align: center; 
}

.place{
    top: 2rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
}


#justipy{
        top: 2rem;
        right: 10rem;
        width: 10rem;
        height: 10rem;
        border-radius: 80px;
        align-self: center;
        margin: 2rem;
       
}
 .button1{
    padding: 0.5rem 1rem;
    border: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 100px;
    margin: 1rem;
    height: 3rem;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px 1.5px rgba(46, 45, 45, 0.37);
}

.button2{
    padding: 0.5rem 1rem;
    border: 3rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 100px;
    margin: 1rem;
    height: 3rem;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px 1.5px rgba(46, 45, 45, 0.37);
}
button:hover{
    background-image: linear-gradient(40deg,rgb(24, 1, 47),rebeccapurple);
    color: #fff;
}

footer{
    background-image: linear-gradient(20deg,rgb(24, 1, 47),rebeccapurple);
    color: rgb(255, 255, 255);
    width: 100%;
   font-size: 0.6rem; 
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5rem;
}

#copyright, .header4{
    margin: 0.3rem;
    display: flex;
}
#copy{
    padding-top: 0.1rem;
    padding-right: 0.4rem;
}
.fab {
    padding: 0.2rem ;
}
a{
    text-decoration: none;
    color: #fff;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin-top: 0.8rem;
}
input[type=submit] {
  background-color: #04AA6D;
  color: #f9f6fc;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 0.5rem;

}
input[type=submit]:hover {
  background-color: rebeccapurple;
}

.container1 {
  border-radius: 0.25rem;
  padding: 0.018rem;
  width: 20rem;
  margin: 1rem; 
}
#contactme{
    padding-top: 1rem;
}
label{
    display: flex;
    margin: 0.2rem 0;
}
#phone{
    padding-top: 2rem;
}
#section1{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 2rem;
    background-color: #f6f9fc;
}
.main{
    height: calc(100vh - 6vh);
    
}
.arrow{
  position: relative;
  bottom: -3rem;
  font-size: 1.2rem;
}
.myname{
    font-size: 1rem;
}
#tag{ 
    font-size: 4rem;
    
}