@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
* {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}
body{
    font-family: 'open Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}
#hamnav {
   width: 100%;
   background:linear-gradient(20deg,rgb(24, 1, 47),rebeccapurple);
   position: sticky;
   top: 0;
   padding-right: 20px;
}
#hamitems{ 
    display: flex;
    justify-content: flex-end;
}
#hamitems a {
    width: fit-content;
    padding: 6px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    margin: .5rem;
}
#hamitems a:hover {
 text-decoration: underline;
 color: rgb(255, 0, 179);

}
@media screen and (max-width:768px){
     #hamitems{
        display: flex;
        flex-direction: column;
     }
    #hamitems a {
        box-sizing: border-box;
        width: 100%;       
    }
   
}
@media screen and (min-width:768px) {
    #nav-icon1{
        display: none;
    }
    .connect{
    align-self: flex-end;
    position: relative;
    bottom: 0.5rem;
    right: 8rem;
}
   .container1{
    align-self: flex-start;
     position: relative;
    top: 5rem;
    left: 8rem;
}
}
    
/* Icon 1 */

#nav-icon1{
  width: 2.5rem;
  height:2rem;
 padding: 1rem;
  cursor: pointer;
  
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
 
}

 
#nav-icon1 span {
    
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #ffffff;
  border-radius: 5px;
  /* display: flex; */
  /* justify-content: flex-start; */


  /* opacity: 1; */
  /* left: 600px; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 11px;
}

#nav-icon1 span:nth-child(2) {
  top: 25px;
}

#nav-icon1 span:nth-child(3) {
  top: 40px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}






 
 main{
    background-color: rgb(253, 251, 251);
    padding-top: 20px;
    text-align: center; 
}

.place{
    top: 2rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
}


#justipy{
        top: 2rem;
        right: 10rem;
        width: 10rem;
        height: 10rem;
        border-radius: 80px;
        align-self: center;
        margin: 2rem;
       
}
 /* .button1{
    padding: 0.5rem 1rem;
    border: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 50px;
    margin: 1rem;
    height: 3rem;
    background-color: #fff;
    box-shadow: 1px 1px 1.5px 1.5px rgba(46, 45, 45, 0.37);
} */

.button2, .button1{
    padding: 0.5rem 0.5rem;
    border: 1.4rem;
    cursor: pointer;
    font-size: .9rem;
    border-radius: 5px;
   z-index: 1000;
    font-family: sans-serif;
    background-color: rgb(255, 0, 179);
    color: black;
    box-shadow: 1px 1px 1.5px 1.5px rgba(46, 45, 45, 0.37);
}
button:hover{
    background-color: rgb(255, 0, 179, 0.7);
}
.button1{
    position: fixed;
    bottom: 3vh;
    right: 10px;
    text-transform: uppercase;
}
.button2{
    position: fixed;
    bottom: 3vh;
    left: 10px;
    /* height: 11rem; */
    text-transform: uppercase;
    writing-mode: vertical-rl;
}
footer{
    background-image: linear-gradient(20deg,rgb(24, 1, 47),rebeccapurple);
    color: rgb(255, 255, 255);
    width: 100%;
   font-size: 0.6rem; 
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2.5rem;
}

#copyright, .header4{
    margin: 0.3rem;
    display: flex;
}
#copy{
    padding-top: 0.1rem;
    padding-right: 0.4rem;
}
.fab {
    padding: 0.2rem ;
}
a{
    text-decoration: none;
    color: #fff;
}
input[type=text], select, textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-sizing: border-box;
  margin-top: 0.8rem;
}
input[type=submit] {
  background-color: #04AA6D;
  color: #f9f6fc;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 0.5rem;

}
input[type=submit]:hover {
  background-color: rebeccapurple;
}

.container1 {
  border-radius: 0.25rem;
  padding: 0.018rem;
  width: 20rem;
  margin: 1rem; 
}
#contactme{
    padding-top: 1rem;
}
label{
    display: flex;
    margin: 0.2rem 0;
}
#phone{
    padding-top: 2rem;
}
#section1{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding: 2rem;
    background-color: #f6f9fc;
}
 .main{
    height: calc(100vh - 6vh);
    
} 
 .arrow{
  position: relative;
  bottom: -3rem;
  font-size: 1.2rem;
}
.myname{
    font-size: 1rem;
}
#tag{ 
    font-size: 4rem;
    
}
#copying{
    position: relative;
    bottom: -2rem;
} 